/* Change similar content-component for each component for different images and colors */
.content-home-1 {
  text-align: left;
  text-decoration-style: solid;
  background-image:url("../../static/white_creative.jpg");
  background-position: center top;
  background-size: cover;/* Resize the background image to cover the entire container */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-repeat: no-repeat;
  padding: 1em;
  border-radius: 20px;
}
.content-home-1-text{
  color: rgb(31, 0, 0);
  margin-top:-15px;
  padding: 2%;
}

.content-home-2 {
  margin-top: 100px;
  align-self: center;
  background-image:url("../../static/dark_pen.jpg");
  background-position: center top;
  background-size: cover;/* Resize the background image to cover the entire container */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-repeat: no-repeat;
  padding: 1em;
  border-radius: 20px;
}
.content-home-2-text{
  padding: 2%;
}

@media (max-width: 1000px) {
.content-home-2{
    font-size:smaller;
    height:auto;
    }
}

@media (max-width: 1000px) {
 .content-home-1{
     font-size:smaller;
     height:auto;
  }
 }